html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.ant-layout {
    background-color: #F6F6F6;
}

.ant-avatar {
    border-radius: 3px;
}

.ant-layout-sider,
.ant-menu-dark {
    background: #23263E;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #393f59;
}

.ant-card {
    margin-bottom: 20px;
}

.ant-card:hover {
    -webkit-box-shadow: 0 1.375rem 2.6875rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1.375rem 2.6875rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.375rem 2.6875rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
}

.ant-card-meta-title {
    cursor: pointer;
}

.ant-card-meta-title a {
    color: #000;
}

.ant-card-meta-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}