.logo {
  margin: 15px;

  img {
    width: 100%;
    padding: 5px;
  }
}

.miniLogo {
  width: 50px !important;
}

.header {
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
  box-shadow: 0 1px 5px 0 rgba(41, 85, 115, .21);
}


.sider {
  height: 100vh;
  position: fixed;
  left: 0;
  overflow: hidden auto;
}

.content {
  margin: 15px;
  padding: 15px;
}

.footer {
  text-align: center;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #1890ff;
  }
}
