.logo {
    margin: 16px;
}

.logo img {
    width: 100%;
}

.logo div {
    text-align: center;
    font-size: 14px;
    color: #505b67;
    margin-top: 15px;
    margin-bottom: 30px;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #1890ff;
    }
}